<!DOCTYPE html>
<html>

<head>
	<title>kyl.index</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>kyld</title>
	<style type="text/css">
html, body {
	background-color:#777;
	color: #777; 
	font-family: arial, sans-serif;
	padding: 0;
	margin: 0;
}

#dialog {
	width: 25em;
	border: 4px solid #ccc;
	background-color: #fff;
	margin: auto;
	margin-top: 2em;
}

h1 {
	font-size: 100%; 
	color: #0c7;
	line-height: 1.4em;
	text-align:center;
}

p {
	text-align:center;
}

	</style>
</head>
<body>
	<div id="dialog">
		<h1>Kyld</h1>
		<p>
			<img src="/img/icon.png" alt="kyld" >
			<br>is running.<!-- on port: {%port} -->
		</p>
	</div>
</body>
</html>
